@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 15px;
}

*::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.black-and-white {
    filter: gray;
    filter: grayscale(1) opacity(50%) brightness(90%);
    -webkit-filter: grayscale(1) opacity(50%) brightness(90%);
}

.floating {
    animation: floating 2.5s ease-in-out infinite;
    -webkit-animation: floating 2.5s ease-in-out infinite;
}

.loading {
    animation: spinner 1s ease-in-out infinite;
    -webkit-animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes floating {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-15px) ;
    }
    100% {
        transform: translateY(15px) ;
    }
}

@-webkit-keyframes floating {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-15px) ;
    }
    100% {
        transform: translateY(15px) ;
    }
}